div.intro{
	background-color: #E4F9F5;
	position: relative;
	padding-top: 100px;
	line-height: normal;
}
body{
	color: #40514E;
	text-align: center;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}
h1.name{
	font-weight: 550;
	font-size: 5.625rem;
	color: #66BFBF;
	margin: 50px auto 0 auto;
	font-family: 'Dancing Script', cursive;}
p.job{
	font-weight: normal;
	color: #66BFBF;
	margin-top: 30px;
	font-size: 2.5rem;
	font-family: 'Architects Daughter', cursive;
}
img.first_cloud{
    position:absolute;
    right: 300px;
    top: 40px;
}
img.second_cloud{
	position: absolute;
	left: 250px;
}
div.middle-container{
	padding: 50px 0;
}
img.my_picture{
	width: 15%;
}
p{
	font-family: 'Montserrat', sans-serif;
	line-height: 2;
}
a{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: #11999E;
}
a:hover{
	color: #EAF6F6;
}
p.my-intro{
	width: 30%;
	margin:auto;
}
hr{
	border:dotted 6px #EAF6F6;
	border-bottom: none;
	margin: 50px auto;
	width: 10%;
}
h2#skill_header{
	margin-bottom: 0;
	text-decoration: underline;
}
img.my_skill{
	width: 35%;
	float: left;
	margin-right: 30px;
}
img.cricket{
	width: 30%;
	float: right;
	margin-left: 30px;
}
h2,h3,a{
	color: #11999E;
}
h3#skill_name{
	color: #11999E;
	margin-top: 0;
}
div.skill-row{
	width: 50%;
	margin: 30px auto 100px auto;
	/*position: relative;
	left: 25%;*/
	text-align: left;
}
/*it wrap the text and placed it under the image if 
we have used the float property*/
/*
p.skill-description{
	clear: left;
}
p.cricket-skill-description{
	clear: right;
}*/
div.bottom-container{
	margin-top: 10px;
	padding: 40px 0 25px;
	background-color: #66BFBF;
}
a.footer-link{
	padding: 15px;
}
p.copyright{
    color: #EAF6F6;
	font-size: 0.75rem;
}
.BUTTON_VTC {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 5px 10px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #66BFBF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_VTC:hover {
   border: solid #66BFBF 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}
img.social-media-icons {
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
